.App {
  height: 100%;
  display: flex;
}

.main {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20;
  margin-bottom: 50;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}

@media (min-width: 769px) {
  .main {
    margin-left: 100;
  }
}

.page-title-container {
  display: flex;
}

.page-title {
  flex-grow: 1;
}
